mkdir data -> raw; processed -> processed data folders; interim
mkdir models -> pretrained_models/cont_pre_training -> data2vec, wav2vec2

pytorch
transformers
datasets
evaluate
accelerate
jiwer
librosa
soundfile
